li[column="name"] {
    background-color: blanchedalmond;
}
ul.green li[column="country"] {
    background-color: darkgrey;
}
ul.red li[column="duration"] {
    font-weight: bold;
}
ul.yellow li[column="duration"] {
    font-style: italic;
    background-color: yellow;
}
li[column="startdate"] {
    background-color: red;
}