div.container-fluid {
  padding-left: 10px;
}
button.grouped {
  min-width: 120px;
}

#qtyVisibleInfo {
  margin-left: 10px;
}

#menurow, #menurow button, input.bsbutton {
  font-size: 12px;
}

#menurow button, input.bsbutton {
  padding-top: 4.5px;
  padding-bottom: 4.5px;
}

input.bsbutton {
  width: 118px;	
}

.pagetitle {
	margin-top: 6px;
	padding-left: 8px;
	text-align: left;
	color: #254E9B;
	font-weight: bold;
	font-size: 15px;
}

hr {
	margin-left: 8px;
	margin-right: 8px;
	margin-top: 4px;
	margin-bottom: 0px;
	
    display: block;
    -webkit-margin-beforeX: 0.5em;
    -webkit-margin-afterX: 0.5em;
    -webkit-margin-startX: auto;
    -webkit-margin-endX: auto;
    border-style: inset;
    border-width: 1px;
}

input.form-control {
	height: 28px !important;
}



hr.cisterner {
  margin-left: 0;
  margin-right: 0;
}

#qtyVisibleInfo {
  padding-top: 6px;
}


