li[column="name"] {
    font-weight: bold;
}
ul.red li[column="color"] {
    background-color: red;
}
ul.yellow li[column="color"] {
    background-color: yellow;
}
ul.green li[column="color"] {
    background-color: green;
}
ul.purple li[column="color"] {
    background-color: purple;
}
ul.orange li[column="color"] {
    background-color: orange;
}
ul.black li[column="color"] {
    background-color: black;
    color: white;
}
ul.blue li[column="color"] {
    background-color: blue;
    color: white;
}
ul.pink li[column="color"] {
    background-color: pink;
}
ul.grey li[column="color"] {
    background-color: grey;
}
ul.yellow li[column="color"] {
    background-color: yellow;
}





li[column="fo"] {
    background-color: red;
    font-weight: bold;
}