/* in Domino: Google Maps custom styles - google-maps/custom.css */

.markerInfo {
	font-family: sans-serif;
	font-size: 8pt;
	margin-right: 1em;
}
.markerInfo div.title {
	background-color: #e1efff;
	font-weight: bold;
	font-size: 1.2em;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000;
}
.markerInfo label {
	font-weight: bold;
	width: 8em;
	float: left;
}
input[type="button"] {
	font-size: 0.6em;
	background-color: #fff;
	border-radius: 3px;
}